# Secret payment signature to verify the user completed the payment
# Identical signature is added to .env of a server - both values are compared to verify payment is OK
PAYMENT_SIGNATURE: your_payment_signature

# Where the payment gateway should redirect the user after payment is complete
ROUTING_URL: http://localhost:3000