# Secret payment signature to verify the user completed the payment
# Identical signature is added to .env of a server - both values are compared to verify payment is OK
PAYMENT_SIGNATURE: changeme-use-a-real-key-in-production

# Where the payment gateway should redirect the user after payment is complete
ROUTING_URL: http://api:3000