# Custom parameters
JWT_SECRET=your_jwt_secret
PAYMENT_SIGNATURE=your_payment_signature

# Connection to cache and db
REDIS_URL=redis://localhost:6379
MONGO_URI=mongodb://localhost:27017/datanow

# LLM parameters
OLLAMA_URL=http://localhost:11434/api/chat
OLLAMA_MODEL=gemma4

# S3 MinIO parameters
MINIO_ENDPOINT=http://localhost:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_BUCKET=datanow
MINIO_REGION=us-east-1