MONGODB_URI=mongodb://mongodb:27017/datanow?replicaSet=rs0

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=

JWT_SECRET=changeme-use-a-real-secret-in-production
PAYMENT_KEY:changeme-use-a-real-key-in-production

OLLAMA_BASE_URL=http://ollama:11434

MINIO_ENDPOINT=http://minio:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_BUCKET=datanow
MINIO_REGION=us-east-1